<section class="show__section">
  <div class="show__item">
    <img src="<%= oneBook.image_url %>" />
    <h2><%= oneBook.title %></h2>
    <h3><%= oneBook.author %></h3>
    <p><%= oneBook.isbn %></p>
    <p><%= oneBook.description %></p>
  </div>
</section>
