<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="reset.css" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body class="show__body">
    <%- include('./layouts/header') %>
    <h2 class="welcome">Welcome to my book store</h2>
    <h2 class="number__books">
      Number of books is: <%= allBooks[allBooks.length -1].id %>
    </h2>
    <% allBooks.forEach(element => { %>
    <section class="show__section">
      <div class="show__item">
        <img src="<%= element.image_url %>" />
        <h2><%= element.title %></h2>
        <h3><%= element.author %></h3>
        <button><a href="/books/<%=element.id %>">View details</a></button>
      </div>
    </section>
    <% }) %>
  </body>
</html>
